<h1><b>Libraries import</b></h1>

In [231]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

<h1><b>Load data</b></h1>

In [7]:
df_order_items = pd.read_csv('DNC_order_items_dataset.csv',index_col='Unnamed: 0')
df_order_reviews = pd.read_csv('DNC_order_reviews_dataset.csv',index_col='Unnamed: 0')
df_orders = pd.read_csv('DNC_orders_dataset.csv',index_col='Unnamed: 0')
df_products = pd.read_csv('DNC_products_dataset.csv',index_col='Unnamed: 0')

In [8]:
display(df_order_items.head().style)
print(f'shape is: {df_order_items.shape}')

shape is: (112650, 4)

In [9]:
display(df_order_reviews.head().style)
print(f'shape is: {df_order_reviews.shape}')

shape is: (99224, 3)

In [10]:
display(df_orders.head().style)
print(f'shape is: {df_orders.shape}')

shape is: (99441, 3)

In [11]:
display(df_products.head().style)
print(f'shape is: {df_products.shape}')

shape is: (32951, 8)

<h1><b>Data analysis</b></h1>

In [60]:
def info_basicas(dataf):
    display(dataf.describe(include='all').transpose())
    print(f'\n{dataf.info()}')
    print(f'\nContagem de nulos(%):\n{(dataf.isnull().sum().sort_values(ascending=False)/dataf.shape[0])*100}')

In [61]:
info_basicas(df_order_items)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
order_id,112650,98666,8272b63d03f5f79c56e9e4120aec44ef,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
order_item_id,112650.0,NaN,NaN,NaN,1.197834,0.705124,1.0,1.0,1.0,1.0,21.0
product_id,112650,32951,aca2eb7d00ea1a7b8ebd4e68314663af,527,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,112650.0,NaN,NaN,NaN,120.653739,183.633928,0.85,39.9,74.99,134.9,6735.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       112650 non-null  object
 1   order_item_id  112650 non-null  int64
 2   product_id     112650 non-null  object
 3   price          112650 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.3+ MB

None

Contagem de nulos(%):
order_id         0.0
order_item_id    0.0
product_id       0.0
price            0.0
dtype: float64

In [62]:
info_basicas(df_order_reviews)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
review_id,99224,98410,7b606b0d57b078384f0b58eac1d41d78,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
order_id,99224,98673,c88b1d1b157a9999ce368f218a407141,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_score,99224.0,NaN,NaN,NaN,4.086421,1.347579,1.0,4.0,5.0,5.0,5.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99224 entries, 0 to 99223
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   review_id     99224 non-null  object
 1   order_id      99224 non-null  object
 2   review_score  99224 non-null  int64
dtypes: int64(1), object(2)
memory usage: 3.0+ MB

None

Contagem de nulos(%):
review_id       0.0
order_id        0.0
review_score    0.0
dtype: float64

In [63]:
info_basicas(df_orders)

              count unique                               top   freq
order_id      99441  99441  e481f51cbdc54678b7cc49136f2d6af7      1
customer_id   99441  99441  9ef432eb6251297304e76186b10a928d      1
order_status  99441      8                         delivered  96478

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99441 entries, 0 to 99440
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      99441 non-null  object
 1   customer_id   99441 non-null  object
 2   order_status  99441 non-null  object
dtypes: object(3)
memory usage: 3.0+ MB

None

Contagem de nulos(%):
order_id        0.0
customer_id     0.0
order_status    0.0
dtype: float64

In [64]:
print(f'Contagem de valores:\n{df_orders["order_status"].value_counts()}')

Contagem de valores:
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [65]:
info_basicas(df_products)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
product_id,32951,32951,1e9e8ef04dbcff4541ed26657ea517e5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_category_name,32341,73,cama_mesa_banho,3029,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_name_lenght,32341.0,NaN,NaN,NaN,48.476949,10.245741,5.0,42.0,51.0,57.0,76.0
product_description_lenght,32341.0,NaN,NaN,NaN,771.495285,635.115225,4.0,339.0,595.0,972.0,3992.0
product_weight_g,32949.0,NaN,NaN,NaN,2276.472488,4282.038731,0.0,300.0,700.0,1900.0,40425.0
product_length_cm,32949.0,NaN,NaN,NaN,30.815078,16.914458,7.0,18.0,25.0,38.0,105.0
product_height_cm,32949.0,NaN,NaN,NaN,16.937661,13.637554,2.0,8.0,13.0,21.0,105.0
product_width_cm,32949.0,NaN,NaN,NaN,23.196728,12.079047,6.0,15.0,20.0,30.0,118.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_weight_g            32949 non-null  float64
 5   product_length_cm           32949 non-null  float64
 6   product_height_cm           32949 non-null  float64
 7   product_width_cm            32949 non-null  float64
dtypes: float64(6), object(2)
memory usage: 2.3+ MB

None

Contagem de nulos(%):
product_category_name         1.851234
product_name_lenght           1.851234
product_description_lenght    1.851234
product_weight_g              0.006070
product_length_cm             0.006070
product_height_cm             0.006070
product_width_cm              0.006070
product_id                    0.000000
dtype: float64

In [66]:
print(f'Contagem de valores:\n{df_products["product_category_name"].value_counts()}')

Contagem de valores:
cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Name: product_category_name, Length: 73, dtype: int64

In [67]:
df_products.dropna(inplace=True)

<h1><b>Recommendation model</b></h1>

<h2><b>Merge Datasets</b></h2>

In [69]:
df_int = df_order_items.merge(df_order_reviews,how='left',left_on='order_id',right_on='order_id')

In [72]:
display(df_int.head().style)
print(f'shape is: {df_int.shape}')

shape is: (113314, 6)

In [71]:
info_basicas(df_int)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
order_id,113314,98666,5a3b1c29a49756e75f1ef513383c0c12,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
order_item_id,113314.0,NaN,NaN,NaN,1.198528,0.707016,1.0,1.0,1.0,1.0,21.0
product_id,113314,32951,aca2eb7d00ea1a7b8ebd4e68314663af,527,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,113314.0,NaN,NaN,NaN,120.478701,183.279678,0.85,39.9,74.9,134.9,6735.0
review_id,112372,97709,e8236fe7b6e1bdd513a500de361e2b87,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_score,112372.0,NaN,NaN,NaN,4.032473,1.387849,1.0,4.0,5.0,5.0,5.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113314 entries, 0 to 113313
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       113314 non-null  object
 1   order_item_id  113314 non-null  int64
 2   product_id     113314 non-null  object
 3   price          113314 non-null  float64
 4   review_id      112372 non-null  object
 5   review_score   112372 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 6.1+ MB

None

Contagem de nulos(%):
review_id        0.831318
review_score     0.831318
order_id         0.000000
order_item_id    0.000000
product_id       0.000000
price            0.000000
dtype: float64

In [146]:
df_rec_avalicao = df_products.merge(df_int,how='left',left_on='product_id',right_on='product_id')
display(df_rec_avalicao.head().style)
print(f'shape is: {df_rec_avalicao.shape}')

shape is: (111701, 13)

In [147]:
df_rec_avalicao.drop(columns=['product_name_lenght',
       'product_description_lenght', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm', 'order_id', 'order_item_id',
       'price', 'review_id'],inplace=True)

In [148]:
info_basicas(df_rec_avalicao)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
product_id,111701,32340,aca2eb7d00ea1a7b8ebd4e68314663af,527,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_category_name,111701,73,cama_mesa_banho,11270,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_score,110773.0,NaN,NaN,NaN,4.035225,1.38542,1.0,4.0,5.0,5.0,5.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111701 entries, 0 to 111700
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   product_id             111701 non-null  object
 1   product_category_name  111701 non-null  object
 2   review_score           110773 non-null  float64
dtypes: float64(1), object(2)
memory usage: 3.4+ MB

None

Contagem de nulos(%):
review_score             0.830789
product_id               0.000000
product_category_name    0.000000
dtype: float64

In [149]:
df_rec_avalicao.dropna(inplace=True)

In [151]:
df_rec_prod = df_products.merge(df_int,how='left',left_on='product_id',right_on='product_id')
display(df_rec_prod.head().style)
print(f'shape is: {df_rec_prod.shape}')

shape is: (111701, 13)

In [152]:
info_basicas(df_rec_prod)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
product_id,111701,32340,aca2eb7d00ea1a7b8ebd4e68314663af,527,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_category_name,111701,73,cama_mesa_banho,11270,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_name_lenght,111701.0,NaN,NaN,NaN,48.777459,10.024605,5.0,42.0,52.0,57.0,76.0
product_description_lenght,111701.0,NaN,NaN,NaN,786.898551,651.761742,4.0,348.0,601.0,985.0,3992.0
product_weight_g,111701.0,NaN,NaN,NaN,2098.139918,3752.850523,0.0,300.0,700.0,1800.0,40425.0
product_length_cm,111701.0,NaN,NaN,NaN,30.219327,16.186944,7.0,18.0,25.0,38.0,105.0
product_height_cm,111701.0,NaN,NaN,NaN,16.616673,13.462724,2.0,8.0,13.0,20.0,105.0
product_width_cm,111701.0,NaN,NaN,NaN,23.048889,11.7175,6.0,15.0,20.0,30.0,118.0
order_id,111701,97276,5a3b1c29a49756e75f1ef513383c0c12,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
order_item_id,111701.0,NaN,NaN,NaN,1.198933,0.708805,1.0,1.0,1.0,1.0,21.0
price,111701.0,NaN,NaN,NaN,120.587213,182.985746,0.85,39.9,74.9,134.9,6735.0
review_id,110773,96340,e8236fe7b6e1bdd513a500de361e2b87,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_score,110773.0,NaN,NaN,NaN,4.035225,1.38542,1.0,4.0,5.0,5.0,5.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111701 entries, 0 to 111700
Data columns (total 13 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   product_id                  111701 non-null  object
 1   product_category_name       111701 non-null  object
 2   product_name_lenght         111701 non-null  float64
 3   product_description_lenght  111701 non-null  float64
 4   product_weight_g            111701 non-null  float64
 5   product_length_cm           111701 non-null  float64
 6   product_height_cm           111701 non-null  float64
 7   product_width_cm            111701 non-null  float64
 8   order_id                    111701 non-null  object
 9   order_item_id               111701 non-null  int64
 10  price                       111701 non-null  float64
 11  review_id                   110773 non-null  object
 12  review_score                110773 non-null  float64
dtypes: float64(8), int64(1), object(4)
memory usage: 11.9+ MB

None

Contagem de nulos(%):
review_id                     0.830789
review_score                  0.830789
product_id                    0.000000
product_category_name         0.000000
product_name_lenght           0.000000
product_description_lenght    0.000000
product_weight_g              0.000000
product_length_cm             0.000000
product_height_cm             0.000000
product_width_cm              0.000000
order_id                      0.000000
order_item_id                 0.000000
price                         0.000000
dtype: float64

In [153]:
df_rec_prod.dropna(inplace=True)

<h2><b>Recommendation of the most purchased items by category</b></h2>

This model can be used for the categories' first page when a user enter on the page the model will return the list of the most purchased products

In [297]:
def start_pipeline(dataf):
    d = dataf.copy()
    return d

def product_count(d, n):
    x = pd.pivot_table(df_rec_avalicao,index=['product_category_name', 'product_id'],\
                        aggfunc={'product_id':pd.Series.value_counts})\
    .rename(columns={'product_id':'product_id_count'}) \
    .sort_values(['product_category_name','product_id_count'], ascending = False)\
    .reset_index()
    y = x.groupby(by='product_category_name').head(n).reset_index(drop=True)
    return y

def dicio(y):
    categories = top_products.product_category_name.unique()
    dict_categories = {category: top_products[top_products.product_category_name==category]\
                       .product_id.unique().tolist() for category in categories}
    return dict_categories

In [298]:
top_products = df_rec_avalicao \
    .pipe(start_pipeline) \
    .pipe(product_count, n=5) \
    .pipe(dicio)

In [299]:
top_products

{'utilidades_domesticas': ['42a2c92a0979a949ca4ea89ec5c7b934',
  '5a6e53c3b4e8684b13388d6aa4afdf12',
  'f7a17d2c51d9df89a4f1711c4ac17f33',
  '928e52a9ad53a294fdcc91bcf59d1751',
  'e9a69340883a438c3f91739d14d3a56d'],
 'telefonia_fixa': ['913580fde3e72c3b3e4ce0b79963bee6',
  'b4f9530c931398e215242293c2c8ba4c',
  '4633dfeb3a2588bdb52af32d504b44eb',
  'db51982bc43b26164c29605b8ed140d6',
  'f07ef9dd6e2d9a366ff30a25e210be70'],
 'telefonia': ['e7cc48a9daff5436f63d3aad9426f28b',
  'c9c6fde711572c1ad99ca12728c6af00',
  '97017430754804328eb9597b7f85da03',
  'dab2413ead0edda9967edbc9bda2a64e',
  '8c5876b1c7768217964f353bc7e64393'],
 'tablets_impressao_imagem': ['6bbe55cf8f85c87b6eebb775a53402f4',
  '34dabb8af33b3756cf72df05fb327011',
  '2eb9b2ef7c1da3c7b99702452ea4729f',
  '3c46d3f68a377931cdadfd72c6158643',
  'ab0a97f604550b5b5b99180a6dc04461'],
 'sinalizacao_e_seguranca': ['150c699262a053229e89213dc9c358d2',
  '0c8b6b6e4f9ee5fe2c48d6cee4c69bc8',
  '7d8e924f1da646ec896e1c0a80ef2f99',
  '49e038a7b8ba2e18d9a7a26c1f238544',
  '5d3b065e160c51e883cd7ef509a54176'],
 'seguros_e_servicos': ['6c7a0a349ad11817745e3ad58abd5c79',
  '8db75af9aed3315374db44d7860e25da'],
 'relogios_presentes': ['53b36df67ebb7c41585e8d54d6772e08',
  'a62e25e09e05e6faf31d90c6ec1aa3d1',
  'e0d64dcfaa3b6db5c54ca298ae101d05',
  'a92930c327948861c015c919a0bcb4a8',
  '461f43be3bdf8844e65b62d9ac2c7a5a'],
 'portateis_cozinha_e_preparadores_de_alimentos': ['7afdd65f79f63819ff5bee328843fa37',
  'c7a3f1a7f9eef146cc499368b578b884',
  '6fd83eb3e0799b775e4f946bd66657c0',
  '1220978a08a6b29a202bc015b18250e9',
  '1954739d84629e7323a4295812a3e0ec'],
 'portateis_casa_forno_e_cafe': ['f49e985b4cb2d0543890d6dd00077663',
  '0433830caca22b01a0f477d31307b043',
  'ff92ca9bb0b3f4ec00a9b76c9f68cb3a',
  'e5c50ee10712a01bfed9854a00502f8e',
  '4608a449f45011c89095f36265e75ec3'],
 'pet_shop': ['a4aa7c1427c31344e5f7cc3d839fe562',
  'e1da6ab77f4859eb17950e5df1c0f815',
  'ca5c923962558430573f83661dbe36d6',
  '6adab229374835b551f6402e0dc53267',
  'e94df75b2e9a8b056be0c144a731f55c'],
 'perfumaria': ['2028bf1b01cafb2d2b1901fca4083222',
  '595fac2a385ac33a80bd5114aec74eb8',
  '617186c3d97ea56c9c683a8a3974e8c1',
  '75d6b6963340c6063f7f4cfcccfe6a30',
  'ee0c1cf2fbeae95205b4aa506f1469f0'],
 'pcs': ['d6160fb7873f184099d9bc95e30376af',
  'a04087ab6a96ffa041f8a2701a72b616',
  '588531f8ec37e7d5ff5b7b22ea0488f8',
  'a5215a7a9f46c4185b12f38e9ddf2abc',
  'bc4cd4da98dd128c39bf0b8c2674032f'],
 'pc_gamer': ['0105b5323d24fc655f73052694dbbb3a',
  '6727051471a0fc4a0e7737b57bff2549',
  'dbe520fb381ad695a7e1f2807d20c765'],
 'papelaria': ['fb55982be901439613a95940feefd9ee',
  '5411e9269501a870cabf632f05655131',
  'e03102efbc2229024c89be731f0aedcb',
  '177d3d5bb9d4d29222a222e3b3554f41',
  '65266b2da20d04dbe00c5c2d3bb7859e'],
 'musica': ['4befae07dba4384f6d8237ad1e7f8294',
  '2848023ffcfb063bb7aa0d0c447bd116',
  'd655dc03de9b831ed22639631ab2958f',
  '2b250e4c796f4ce9da7ee0465bd1b574',
  '5fb3ff04cc8ff9f140b028d867a6b0f4'],
 'moveis_sala': ['2ff995aead9c63a1f37a07b3664ead37',
  'c94d19d021d4a8fbae5a45f904aeea90',
  '58efb9b638561ce132216a9a612513e2',
  '1b8ee158f59c098470fad33f39660964',
  '196616257eff8bc851dc4fc041cbbbe9'],
 'moveis_quarto': ['4f18ca9862f511ecba98258b2194d061',
  '0296dd002a346e3bbdda4e0bc48a5073',
  '0b814a3c8fa6dbb849df7c28c1bd6831',
  '0e2d52789a024cfd6f9204778320a8e5',
  'aff39c649de8c4e36d325880de8f4338'],
 'moveis_escritorio': ['8ed094bfe076c568f6bb10feada3f75d',
  '3eef0cb94ba82de806bb30ab743c7655',
  'a9516a079e37a9c9c36b9b78b10169e8',
  'aba86c093ccdbac75b09111d57e50004',
  '2a5806f10d0f00e5ad032dd2e3c8806e'],
 'moveis_decoracao': ['aca2eb7d00ea1a7b8ebd4e68314663af',
  'b532349fe46b38fbc7bb3914c1bdae07',
  '9ecadb84c81da840dbf3564378b586e9',
  '78efe838c04bbc568be034082200ac20',
  'eb8c629f70275fd1c4f809116cce1efc'],
 'moveis_cozinha_area_de_servico_jantar_e_jardim': ['c075b8e131353552218860f1c421e4ef',
  '18f6ea7e8cff29f8053baac6762449f9',
  '261244fc4d0197d8772346872f5b0f5e',
  '79c0ace2ccf0da036e787875a49151a4',
  'bf5d132b4d30a18970b8ee7798725af1'],
 'moveis_colchao_e_estofado': ['726b4e18f00255e2e63491bcba3f60b8',
  'f4b3b257580c1430e51d71dd731273c2',
  '5f5d009b0eed255c950e16ccad915ff7',
  'ed5783fe4b2194c66043e77b648ff4cb',
  '107fde0930956120d1e13dd1062fbb46'],
 'market_place': ['8d1cfc0463b545928bfb4e589e017bd4',
  '9af7b4a3262141c12ba9bd489a8573c7',
  'c5d8b84a90f73bd09c30e71e76caaa11',
  'b3cf0a98f31b76ed0cec13d9c77102c4',
  'cf1d8e226162a1d0ad61f29b7ed72d82'],
 'malas_acessorios': ['f71973c922ccaab05514a36a8bc741b8',
  'af51d485dc5255ba2e18b21b550156e6',
  'c7b3cf9de7be95b3e09e7a63315685eb',
  '6109d0cae3bcb57d579bc0fab6e61814',
  'c92f0e7b9d49a9543558d6532772441b'],
 'livros_tecnicos': ['173e9fe34bfe97f3a5e6dc57fe897b74',
  'edd087ed331c3ce178ec3489b9ecf117',
  '08bcc2d85da3a9c0e2ac1cc28b67418d',
  '3bd016185be10ea4b4b2baa6e7dd9e9b',
  '6d68112743e7ed2de3932554b033f544'],
 'livros_interesse_geral': ['f35927953ed82e19d06ad3aac2f06353',
  '9d0bb30eed80184666c8acad23921283',
  '095cb863f2b04911455ad33f5177062e',
  '1cc61b32763a4d816212b3507b6b6c59',
  '179363fe9f0eee05ad34df83c160dbcf'],
 'livros_importados': ['68ad45d48d69404aeb71ce87e1b2c948',
  '82d7b276f49e72ffce78d10b20518808',
  '98d893a81a1845b6f278f33eee0a4f36',
  '7515ab3fc02c8f43b07e9451497fb13e',
  'fde71f25e699ca0a2a83a6c3a249b816'],
 'la_cuisine': ['33900d427fa4bd3f509cdacda72e84a3',
  '2365562e74dd46f5e99cdc696c504cea',
  '0c800efe70e04ffcc3b266946e3e4826',
  '724c49c346d2979339d366fa59ce49de',
  '775596b5ab8f1cb5890c7263c1c92bc4'],
 'instrumentos_musicais': ['738da8ddda2e593acfdc53c2d1520dfa',
  '44e086c4a977f37a888627b43880586c',
  'a5bbc554f75cf4afa2cd56791015ec27',
  '9048cbd294fe0c1a3ec8c8248bc2cadd',
  '16c4e87b98a9370a9cbc3a4658a3f45b'],
 'informatica_acessorios': ['d1c427060a0f73f6b889a5c7c61f2ac4',
  '3dd2a17168ec895c781a9191c1e95ad7',
  'e53e557d5a159f5aa2c5e995dfdf244b',
  '656e0eca68dcecf6a31b8ececfabe3e8',
  '36f60d45225e60c7da4558b070ce4b60'],
 'industria_comercio_e_negocios': ['d04bbac48960ecb7ea311b00ca6e1cb7',
  '593236d0ff46b4299b4787fb8d43f7f0',
  '4cafc445fc7535c3b41b8978c0ce68dc',
  '62177bb58dda374cc02e6cd2616996a1',
  '8e7a3ee016b12c87b5e3e7e717620758'],
 'fraldas_higiene': ['3fdb534dccf5bc9ab0406944b913787d',
  '8323a7adeb57da21acea7e83563bed90',
  '3cc7ec95300ba6432c64f0b12673bae6',
  '6e7f4ae007302e93c5610894712289bb',
  'f83fd2b539bc73678c65be8d418be8c1'],
 'flores': ['7620a27f1d6747511f1c6f0ddb63c0ef',
  'e89607ddfcf953bc7a85adaca52e122a',
  '5fd35bd0069ce2a404716901326b1336',
  '065554bfe0244b9f5f6414f332106a21',
  '74356542db3483a78a8ba69f5b7ea094'],
 'ferramentas_jardim': ['422879e10f46682990de24d770e7f83d',
  '389d119b48cf3043d311335e499d9c6b',
  '368c6c730842d78016ad823897a372db',
  '53759a2ecddad2bb87a079a1f1519f73',
  'c4baedd846ed09b85f78a781b522f126'],
 'fashion_underwear_e_moda_praia': ['1de74e63d630007567726953a4eb2b36',
  'a70d74f54feefedd8108c45553766340',
  '7932fcce65e2aee84d6feb4a288f9cb9',
  'a662d99595c3b6054702480cb7382afe',
  'b73091f98b819cf7a339f74ece86aa4b'],
 'fashion_roupa_masculina': ['e336c656869480e20d04ca9389b12167',
  '22656f41604127818c5984157e52bda8',
  'dd231637766e756fd1cf2fd80501fce1',
  'ce04dcb7aa96ad49d4933f3d4a9f8eb7',
  '80a29790293a83b877cb353f5ae338e1'],
 'fashion_roupa_infanto_juvenil': ['57bdf3098169cccdb62221bd3e089cbd',
  '8cfc3506cedc0626364457d254429118',
  '0ab3ab3b2869073aa9afe795fe9151aa',
  '28ac6af4008a402e5039f3e042a36e13',
  '2b18330ce86ae5c606250b75b499f370'],
 'fashion_roupa_feminina': ['63cf4d771cba1d380af927afe5895d4b',
  'bfa393df5b4494bea7158660999a921b',
  '6e02baf23db1455640241542c78be139',
  '8b100f92b312e18e03f0ee8f0c0011bd',
  '1f05dcc70c1a19407641eccea8ef3bdc'],
 'fashion_esporte': ['e8f7d2639ff8caa8b86e5973295898b7',
  'cc696680ea0cefcd5d7d5d928afb8de8',
  'a38e6346616a8f362c328b9537b1ca4d',
  '17636e3c15333148e25253db631a2d7d',
  '700a315aa104dcf3ea345a850f746ec1'],
 'fashion_calcados': ['ac5e164e2eda939ffa46593f90077f9a',
  'a2c75a23c2f838881dd4275c0cec519f',
  '002159fe700ed3521f46cfcf6e941c76',
  '34eb0685663d60e57a9ca086c8e33423',
  'f39288f58793ce5e6985b3f7832af88c'],
 'fashion_bolsas_e_acessorios': ['d017a2151d543a9885604dc62a3d9dcc',
  '1ec486885049bbb9b79351d150ed18c4',
  '87283a98b24f9f1ac3a31b631073cf47',
  'ccadfeab525a9eb1569983b66e5075c4',
  '44d097d59e8430f88a67517cd0c4f865'],
 'esporte_lazer': ['c6336fa91fbd87c359e44f5dca5a90ed',
  'e44f675b60b3a3a2453ec36421e06f0f',
  '362b773250263786dd58670d2df42c3b',
  'cec09725da5ed01471d9a505e7389d37',
  'd3c044bd42d84a79e3b0c42662806a48'],
 'eletroportateis': ['79366d6a24de9351b7ca6e3cf75a68ec',
  '63d6e7ab30f482382c9dfbbccae7da54',
  '44fc450365728c413fefc547592626be',
  'a5e537da8376b8623758e0186bfa400f',
  'd2bea3c01e172037caa99b2d138f39d0'],
 'eletronicos': ['7ce94ab189134e2d3c05f496d635419c',
  '93c902b021a9e594f658ab1b0351602a',
  'ab1f9387c0627dd24000bfbc54fdeee0',
  '5d66715cc928aadd0074f61332698593',
  '6a8631b72a2f8729b91514db87e771c0'],
 'eletrodomesticos_2': ['f27aff266ad97e75d4a24c893b2c311e',
  '2d063994ae4667cff3d6841e9d441d1d',
  '7fe486a60125c1541517e30944f95066',
  '99c97d191bcc87e072acc4521bce44d4',
  'c3182d1991c7d4859e8f39b6c45a026b'],
 'eletrodomesticos': ['e5eadf9be70a4a9fa514019542fc330a',
  'be837f2e0152a208d4386f4126d5bd7c',
  '50d77758742285ff49f340ebdf0df5a7',
  'b30d7b0adcdc4a117f455472548155ec',
  'ab5da1daa941470d14366f4e76a99dd2'],
 'dvds_blu_ray': ['8ac47b3ab13c68f49f10dde899674149',
  'd55d2479e56093f23ebcf313ceb3bcfe',
  '133f594a246e5c52489304a4b5a39830',
  '6f19f41a7c7ac7e45f4070d07ed80a75',
  '2d31f67b1edd83be73d1448bc1f1a7c7'],
 'cool_stuff': ['c6dd917a0be2a704582055949915ab32',
  '601a360bd2a916ecef0e88de72a6531a',
  '54d9ac713e253fa1fae9c8003b011c2a',
  '165f86fe8b799a708a20ee4ba125c289',
  '29427de7f8a9ee983d9dbc51cec569b4'],
 'construcao_ferramentas_seguranca': ['82c51c3938503a4ddc096fbed86428d6',
  '56c221c4c1a4a98293895c4563cdc6bf',
  '88ffcf27478318ba55b1f9d22d65ce97',
  '3b473a6b1c280e0345e876648a61a032',
  '3b91132e7eebaa17b615edbcdb5baa8e'],
 'construcao_ferramentas_jardim': ['71a7800a633691de8ecdd17463335e2e',
  '42749c525c90994bd3d4c74edf047172',
  '84c79830527ae823029ee6b904cf948c',
  '0b01a9718a61dbdd35cfec9ad13a0301',
  '4ce6c1b5cfe26c9f980438fc1c810f8d'],
 'construcao_ferramentas_iluminacao': ['a02d0123079f4ae96001ba2010d1a2df',
  '349ce46a0e2e20054aa9d80c48af8816',
  '216bb0e0cd43ffd832e0973d35e0377e',
  '26b2a480ced2900a62bb9431133e95aa',
  '783caabd539c4079ec08423e30719fba'],
 'construcao_ferramentas_ferramentas': ['5e53af05c040b01584b81b3549945faf',
  'e5f20b4eb944eaae0a13bed3187201d3',
  'd19c5ff1a4d4e8b0558536d57cf43cf7',
  '04433a8021475a2002663f94203c88da',
  '2c8e38b2b220b65a306d88444defb4fd'],
 'construcao_ferramentas_construcao': ['7564c1759c04fc0a38f2aa84f7a370ee',
  '0da9ffd92214425d880de3f94e74ce39',
  '779dd392d4fbe5ca656bf3ceabecbf0b',
  'f5badee8a0e679f057ec0ca4f0f32dcb',
  'ed00a8453145186b3f071f1e3edef33d'],
 'consoles_games': ['0aabfb375647d9738ad0f7b4ea3653b1',
  '6c3effec7c8ddba466d4f03f982c7aa3',
  '2bd9b51a9ab079e095aca987845d3266',
  '4deb009c36a910076a023947a7929201',
  'f39a8b27ce90ac582103bf36f09690dd'],
 'climatizacao': ['98e91d0f32954dcd8505875bb2b42cdb',
  'ccb162ed569f47d83f62aebd5700d7ad',
  '0e34187d4312b97b5e698836d28ed040',
  'e932008cf0ea7c93a077dd8d7e5f49eb',
  'f2a1b32f85cad59ff2a8444154ac25f0'],
 'cine_foto': ['e988092a8afe5d9393a5c3a7ca17691c',
  'c3798d484fb730f0b5c23af0d5361595',
  '1f5f0f003ce8595ad88fb215ec1409e6',
  '88a1223b29fac4c3abef8d1369dbbaea',
  'd55487f6b9833914549348cc2839f9e9'],
 'cds_dvds_musicais': ['1dceebcc5f23c02ea23e16d5bedca000'],
 'casa_construcao': ['a39cc58c1b5926b6f9f378daa89f1315',
  '679a3e5e1d2bb68982be5734c6e55e63',
  '10070e29929f7c7d609ee3201f236b8e',
  '71540d636652fc682032d3b3c0a180c1',
  '3cce0d166c3fb2507956c630c1d0f87c'],
 'casa_conforto_2': ['ec5b3c8bb77ad22278f6e9d719a83de3',
  '15dc5bc6f0f1e1a0d0255098726060c7',
  '19de58ea609a59ce31f93672af50c09a',
  '2072d4792ab7893ddbfc178948e0eb86',
  '4fb3bad6b502eaca3b6d7d87bc1613a4'],
 'casa_conforto': ['35afc973633aaeb6b877ff57b2793310',
  'c6bf8cc852eee5c4ab264e792a9c23a1',
  '186052b3f166a0f7227e78b2d27652d3',
  'e2fcaac49de7a3a90f0dc74d7b1e9f10',
  '12fd8665371236b5b586ea4e448902c8'],
 'cama_mesa_banho': ['99a4788cb24856965c36a24e339b6058',
  'f1c7f353075ce59d8a6f3cf58f419c9c',
  '06edb72f1e0c64b14c5b79353f7abea3',
  'ec2d43cc59763ec91694573b31f1c29a',
  '84f456958365164420cfc80fbe4c7fab'],
 'brinquedos': ['880be32f4db1d9f6e2bec38fb6ac23ab',
  'b5e13c9a353102f79c6206ff5cb61a50',
  'b623b7cb05ee3248fbe4a6ecbeed79a4',
  '7fab1a1472fdd934397068931f63f3ca',
  'aa280035c50ba62c746480a59045eec4'],
 'beleza_saude': ['154e7e31ebfa092203795c972e5804a6',
  '2b4609f8948be18874494203496bc318',
  '7c1bd920dbdf22470b68bde975dd3ccf',
  'bb50f2e236e5eea0100680137654686c',
  '19c91ef95d509ea33eda93495c4d3481'],
 'bebidas': ['cd48f265a63e13b762601f5f794c5fca',
  'ad2037645597db38527fe3afbe226af2',
  'd99526b1e4fa5f57b8bde34a7337b5ee',
  '8fa67e5cb309b9cd7b4438e15948bdb2',
  '211293b50935ced8d4370f552c482d74'],
 'bebes': ['cac9e5692471a0700418aa3400b9b2b1',
  'ea44caac707f7f1325182a538007f838',
  '8aa6223e400af9c97b07c75993142721',
  '57e089e3103f5cda6a4ce23b77399bdb',
  'a298a105818dce6878b787e4af6cff7d'],
 'automotivo': ['4fcb3d9a5f4871e8362dfedbdb02b064',
  'a50acd33ba7a8da8e9db65094fa990a4',
  '629e019a6f298a83aeecc7877964f935',
  '1613b819ab5dae53aead2dbb4ebdb378',
  'f4f67ccaece962d013a4e1d7dc3a61f7'],
 'audio': ['db5efde3ad0cc579b130d71c4b2db522',
  'a59fb60fddcc72a9878b7ed5cb69d8e4',
  '7c4a8bec217df1de0df2b5aaf8175b65',
  'dca8cbb1c9d8a2db0fbc0c36b8d1a7bc',
  '13db47eae724e2848e12b71a617a3a41'],
 'artigos_de_natal': ['40e8b425d1a26e2d9cb77363523e05ce',
  'f59871b3d9da4c64cbe41ad3dd04dc14',
  '1522589c64efd46731d3522568e5bc83',
  'ac50a885bf3b6a817bf6a0a2f1e27af4',
  '19fee5d5b066841b45bc3e97832fa654'],
 'artigos_de_festas': ['4a7056788ce9287c76ade358f2e2572a',
  '137464dece73fa2dbb54658dbc7aae58',
  '99b4596b82b6f75d453160c9c75e01f4',
  '0fca2bf7fe83539c429a0357389333e7',
  '157d8cabb7a3a318aed5ce596f4be96e'],
 'artes_e_artesanato': ['b9976e9c22fb1540bd71d1bcd2989475',
  '43f224fb79bae5b22585eb868fe3b84b',
  '08c5c3d471845327e913b52aded0caf3',
  '189d6b9a380642d0ee2245277cc9b2f2',
  '1cf657de01c2b973b898ad0ac9073ac7'],
 'artes': ['4fe644d766c7566dbc46fb851363cb3b',
  '986700c98805af229ab7ad51b95fa356',
  'bf359473d58e90d8fc29bf8f3d282ea9',
  '48633254f8b7b802b1ca8c4f4dcf3e33',
  '538948f39142c635d3132846c820e211'],
 'alimentos_bebidas': ['84f5c4f480ad6c9998d6a6860f1a2e41',
  'ec96b7b4e1401281edb9465d0d689cae',
  '54b755678728b84472c2b654ac4de777',
  '42eb5329dd0ee3d76d135ce04c84451b',
  '992197904e1d4f0bf3994652373188e4'],
 'alimentos': ['89321f94e35fc6d7903d36f74e351d40',
  '73326828aa5efe1ba096223de496f596',
  'ed2067a9c1f79553088a3c67b99a9f97',
  'd493f5a208254fe85b3ab55d898461a1',
  'f0c1c1d5ec61ce4c4846abd4283631df'],
 'agro_industria_e_comercio': ['11250b0d4b709fee92441c5f34122aed',
  '423a6644f0aa529e8828ff1f91003690',
  '672e757f331900b9deea127a2a7b79fd',
  '3bebad3cf2c8d1a8d3ce97174643e054',
  'a0fe1efb855f3e786f0650268cd77f44']}

<h2><b>Recommendation of product similarity</b></h2>

This model should be used on shopping cart's page to recommend similar products for the user

In [161]:
df_rec_prod.drop(columns=['order_id', 'order_item_id','review_id'],inplace=True)

In [221]:
valores = ['product_name_lenght','product_description_lenght', 'product_weight_g',
           'product_length_cm','product_height_cm', 'product_width_cm', 'price', 'review_score']
grupo = ['product_id','product_category_name']

In [225]:
df_agrupado = df_rec_prod.groupby(by=grupo, as_index=False)[valores].mean()
df_agrupado

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_weight_g,product_length_cm,product_height_cm,product_width_cm,price,review_score
0,00066f42aeeb9f3007548bb9d3f33c38,perfumaria,53.0,596.0,300.0,20.0,16.0,16.0,101.65,5.0
1,00088930e925c41fd95ebfe695fd2655,automotivo,56.0,752.0,1225.0,55.0,10.0,26.0,129.90,4.0
2,0009406fd7479715e4bef61dd91f2462,cama_mesa_banho,50.0,266.0,300.0,45.0,15.0,35.0,229.00,1.0
3,000b8f95fcb9e0096488278317764d19,utilidades_domesticas,25.0,364.0,550.0,19.0,24.0,12.0,58.90,5.0
4,000d9be29b5207b54e86aa1b1ac54872,relogios_presentes,48.0,613.0,250.0,22.0,11.0,15.0,199.00,5.0
...,...,...,...,...,...,...,...,...,...,...
32178,fff6177642830a9a94a0f2cba5e476d1,cool_stuff,54.0,842.0,1400.0,42.0,25.0,15.0,114.99,4.5
32179,fff81cc3158d2725c0655ab9ba0f712c,beleza_saude,54.0,643.0,58.0,16.0,16.0,11.0,90.00,4.0
32180,fff9553ac224cec9d15d49f5a263411f,fashion_bolsas_e_acessorios,22.0,328.0,150.0,16.0,13.0,11.0,32.00,5.0
32181,fffdb2d0ec8d6a61f0a0a0db3f25b441,informatica_acessorios,47.0,501.0,150.0,16.0,4.0,13.0,33.99,5.0
32182,fffe9eeff12fcbd74a2f2b007dde0c58,brinquedos,57.0,1536.0,3900.0,43.0,16.0,11.0,249.99,4.0

In [229]:
df_agrupado = pd.get_dummies(df_agrupado, columns=['product_category_name'])

In [234]:
df_agrupado = df_agrupado.set_index('product_id')

KeyError: "None of ['product_id'] are in the columns"

In [235]:
df_agrupado

,product_name_lenght,product_description_lenght,product_weight_g,product_length_cm,product_height_cm,product_width_cm,price,review_score,product_category_name_agro_industria_e_comercio,product_category_name_alimentos,...,product_category_name_pet_shop,product_category_name_portateis_casa_forno_e_cafe,product_category_name_portateis_cozinha_e_preparadores_de_alimentos,product_category_name_relogios_presentes,product_category_name_seguros_e_servicos,product_category_name_sinalizacao_e_seguranca,product_category_name_tablets_impressao_imagem,product_category_name_telefonia,product_category_name_telefonia_fixa,product_category_name_utilidades_domesticas
product_id,,,,,,,,,,,,,,,,,,,,,
00066f42aeeb9f3007548bb9d3f33c38,53.0,596.0,300.0,20.0,16.0,16.0,101.65,5.0,0,0,...,0,0,0,0,0,0,0,0,0,0
00088930e925c41fd95ebfe695fd2655,56.0,752.0,1225.0,55.0,10.0,26.0,129.90,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
0009406fd7479715e4bef61dd91f2462,50.0,266.0,300.0,45.0,15.0,35.0,229.00,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
000b8f95fcb9e0096488278317764d19,25.0,364.0,550.0,19.0,24.0,12.0,58.90,5.0,0,0,...,0,0,0,0,0,0,0,0,0,1
000d9be29b5207b54e86aa1b1ac54872,48.0,613.0,250.0,22.0,11.0,15.0,199.00,5.0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff6177642830a9a94a0f2cba5e476d1,54.0,842.0,1400.0,42.0,25.0,15.0,114.99,4.5,0,0,...,0,0,0,0,0,0,0,0,0,0
fff81cc3158d2725c0655ab9ba0f712c,54.0,643.0,58.0,16.0,16.0,11.0,90.00,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
fff9553ac224cec9d15d49f5a263411f,22.0,328.0,150.0,16.0,13.0,11.0,32.00,5.0,0,0,...,0,0,0,0,0,0,0,0,0,0
fffdb2d0ec8d6a61f0a0a0db3f25b441,47.0,501.0,150.0,16.0,4.0,13.0,33.99,5.0,0,0,...,0,0,0,0,0,0,0,0,0,0
fffe9eeff12fcbd74a2f2b007dde0c58,57.0,1536.0,3900.0,43.0,16.0,11.0,249.99,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [236]:
cos_prod = cosine_similarity(df_agrupado)
cos_prod

array([[1.        , 0.85078958, 0.87043025, ..., 0.99698558, 0.98111283,
        0.74317227],
       [0.85078958, 1.        , 0.89186488, ..., 0.83169918, 0.74715639,
        0.98348391],
       [0.87043025, 0.89186488, 1.        , ..., 0.83421717, 0.76919158,
        0.83475904],
       ...,
       [0.99698558, 0.83169918, 0.83421717, ..., 1.        , 0.98942305,
        0.71988688],
       [0.98111283, 0.74715639, 0.76919158, ..., 0.98942305, 1.        ,
        0.61792243],
       [0.74317227, 0.98348391, 0.83475904, ..., 0.71988688, 0.61792243,
        1.        ]])

In [264]:
prod_semelhantes = df_agrupado.index[3]

print(f'O produto escolhido : {prod_semelhantes}')

prod_id = df_agrupado.index.tolist().index(prod_semelhantes)
print(f'Produto: {prod_semelhantes}, tem ndice: {prod_id}')

similares_10 = np.argsort(-cos_prod[prod_id])[1:10]

for i in zip(df_agrupado.index[similares_10],cos_prod[prod_id][similares_10]):
  print(f'Produto {i[0]} tem similaridade {i[1]:2f} com produto {prod_semelhantes}')

O produto escolhido : 000b8f95fcb9e0096488278317764d19
Produto: 000b8f95fcb9e0096488278317764d19, tem ndice: 3
Produto 8481b767d90ff5c67263520bf912b6c4 tem similaridade 0.999816 com produto 000b8f95fcb9e0096488278317764d19
Produto e706d603c40437249cea9606699273a7 tem similaridade 0.999793 com produto 000b8f95fcb9e0096488278317764d19
Produto 434487f82b5c35646bd8155cf1946179 tem similaridade 0.999773 com produto 000b8f95fcb9e0096488278317764d19
Produto cab49aa7c76189e7e6d55ad8c7f9eb91 tem similaridade 0.999742 com produto 000b8f95fcb9e0096488278317764d19
Produto a253b2e86bb4a6f86fa11e1270e79885 tem similaridade 0.999740 com produto 000b8f95fcb9e0096488278317764d19
Produto 4cb6e86e1328e77e20b5f90771683cbe tem similaridade 0.999730 com produto 000b8f95fcb9e0096488278317764d19
Produto 31ec3a565e06de4bdf9d2a511b822b4d tem similaridade 0.999713 com produto 000b8f95fcb9e0096488278317764d19
Produto cf9c9be3acfd11d21417d468511f57b1 tem similaridade 0.999705 com produto 000b8f95fcb9e0096488278317764d19
Produto 84d0e98e468edffdfe4f1f5b178d4ecc tem similaridade 0.999669 com produto 000b8f95fcb9e0096488278317764d19